<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Title</title>
</head>
  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

            <li><a href="/admin_home">Home</a></li>
            <li><a href="/accountReview">Account Review</a></li>
            <li><a href="/my_account">My Account</a></li>
            <li><a href="/add_money">Deposit</a></li>
            <li><a href="/send_money">Transfer</a></li>
          </ul>
        </div>

          <button class="barItem input" style="margin-left:10px;">
            <a href="/logout" class="btn">Logout</a>
          </button>

        </div>

    </header>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'info' %}
            <script>
                window.onload = function() {
                    alert('{{ message }}');
                }
            </script>
        {% endif %}
    {% endfor %}
{% endwith %}

{% block body %}
<h1>Hello, {{ session["Username"] }}</h1>
{% endblock %}